.gradient-custom {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(161, 253, 202), rgba(194, 233, 251, 1))
    
}
.bg-indigo {
    background-color: #48cc84fb;
}

/* .nav-item {
    background-color: #48cc84fb;
} */
/* for select drop down list */
.bg-light {
    background: #eef0f4;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 1rem;
}

.choices__list--single {
    padding: 0;
}

.card {
    transform: translateY(-50%);
}

.choices[data-type*=select-one]:after {
    right: 1.5rem;
}

.shadow {
    box-shadow: 0.3rem 0.3rem 1rem rgba(178, 200, 244, 0.23);
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}