.gradient-custom {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(161, 253, 202), rgba(194, 233, 251, 1))

}
.bg-indigo {
    background-color: #48cc84fb;
}
.table {
    /*--bs-table-color-type: initial;*/
    /*--bs-table-bg-type: initial;*/
    /*--bs-table-color-state: initial;*/
    /*--bs-table-bg-state: initial;*/
    --bs-table-bg: transparent;
    --bs-table-border-color: #000000;
    /*--bs-table-color: var(--bs-body-color);*/
    /*--bs-table-bg: var(--bs-body-bg);*/
    /*--bs-table-border-color: var(--bs-border-color);*/
    /*--bs-table-accent-bg: transparent;*/
    /*--bs-table-striped-color: var(--bs-body-color);*/
    /*--bs-table-striped-bg: rgba(0, 0, 0, 0.05);*/
    /*--bs-table-active-color: var(--bs-body-color);*/
    /*--bs-table-active-bg: rgba(0, 0, 0, 0.1);*/
    /*--bs-table-hover-color: var(--bs-body-color);*/
    /*--bs-table-hover-bg: rgba(0, 0, 0, 0.075);*/
    /*width: 70%;*/
    /*margin-bottom: 1rem;*/
    /*vertical-align: top;*/
    /*border-color: var(--bs-table-border-color);*/
}